In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataset.csv', names=['personagem_1', 'personagem_2', 'interacoes', 'livro'])
data

                         personagem_1        personagem_2  interacoes  livro
0                      Addam-Marbrand     Jaime-Lannister           3      1
1                      Addam-Marbrand     Tywin-Lannister           6      1
2                   Aegon-I-Targaryen  Daenerys-Targaryen           5      1
3                   Aegon-I-Targaryen        Eddard-Stark           4      1
4     Aemon-Targaryen-(Maester-Aemon)      Alliser-Thorne           4      1
...                               ...                 ...         ...    ...
2461                 Tyrion-Lannister   Viserys-Targaryen           4      3
2462                 Tyrion-Lannister       Willas-Tyrell           5      3
2463                  Tywin-Lannister               Varys           5      3
2464                  Tywin-Lannister         Walder-Frey           4      3
2465                       Vargo-Hoat               Zollo           3      3

[2466 rows x 4 columns]

In [3]:
personagens = pd.DataFrame()
personagens['personagem'] = list(data['personagem_1']) + list(data['personagem_2'])
personagens = personagens.drop_duplicates()
personagens

                           personagem
0                      Addam-Marbrand
2                   Aegon-I-Targaryen
4     Aemon-Targaryen-(Maester-Aemon)
11                 Aerys-II-Targaryen
17                               Aggo
...                               ...
4816                          Ragwyle
4833                Rollam-Westerling
4849                     Rolph-Spicer
4858                Tristifer-IV-Mudd
4882                            Zollo

[498 rows x 1 columns]

In [4]:
result = []

for p in personagens.personagem:
    df = data[(data['personagem_1'] == p) | (data['personagem_2'] == p)]

    i_1 = df[df['livro'] == 1].shape[0]
    i_2 = df[df['livro'] == 2].shape[0]
    i_3 = df[df['livro'] == 3].shape[0]

    s = i_1 + i_2 + i_3

    result.append((p, i_1, i_2, i_3, s))

result = pd.DataFrame(result, columns=['p', 'i_1', 'i_2', 'i_3', 's'])
result = result.sort_values(by='s', ascending=False)
result

                     p  i_1  i_2  i_3    s
136   Tyrion-Lannister   46   53   59  158
76   Joffrey-Baratheon   30   47   50  127
122         Robb-Stark   35   35   49  119
79            Jon-Snow   37   28   52  117
22       Catelyn-Stark   43   33   38  114
..                 ...  ...  ...  ...  ...
393               Joss    1    0    0    1
394            Porther    1    0    0    1
395         Tobho-Mott    1    0    0    1
396             Tregar    1    0    0    1
384             Coratt    1    0    0    1

[498 rows x 5 columns]